footer {
    margin-top: 50px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #9E9E9E;
    padding-top: 25px;
    color: #908f8f;
}

.jumbotron-fluid {
    padding-bottom: 35px;
    text-align: center;
}

.input {
    margin-left: 0px;
}

#guess {
    width: 152px;
    max-width: 100%;
}

.box {
    width: calc(1.5em + .75rem + 2px);
    height: calc(1.5em + .75rem + 2px);
    max-width: 100%;
}

.b {
    width: calc(1.5em + .75rem + 7px);
    height: calc(1.5em + .75rem + 2px);
    margin-right: 7px;
    margin-top: -5px;
    max-width: 100%;
}

#id {
    cursor: default;
}